*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color:rgb(219, 219, 219);
    padding: 5px;
    top: 0px;
    position: sticky;
    z-index: 100;
}
#base{
    padding: 20px;
    color: rgb(209, 209, 209);
}


#msw{
    height: 100px;
    width: auto;
    margin: 0 auto;
    display: block;
}
